.magda {
	text-align: center;
	padding: 45px;
}

.magda img { 
	height: 193px;
}

menu {
    display: flex; justify-content: center;
}

.pes {
    display: flex; justify-content: center;
}

.acenter {
	text-align: center;
}

footer { padding-top: 85px;
		 padding-bottom: 41px;

}

a {
	color: #666;
}

a:hover {
	color:#333;
}

body {
	text-transform: uppercase;
}

p {
	text-transform: none;
	text-align: justify;
}